<h1><%= @user.name %> <small><%= @user.email %></small></h1>

<% if @created_events.any? %>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><%= @user == current_user ? "My" : @user.name+"'s" %> Events:</h4>
		</div>
		<div class="panel-body">
			<%= render "events/event_list", collection: @created_events, hide_host: true %>
		</div>
	</div>

<% else %>

	<p class="text-muted"><em>
		<%= @user == current_user ? "You haven't" : @user.name+" hasen't" %> 
		created any events.
		<%= link_to "Start an event!", new_event_path if @user == current_user %>
	</em></p>

<% end %>

<% if @upcoming_events.any? %>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Upcoming Events:</h4>
		</div>
		<div class="panel-body">
			<%= render "events/event_list", collection: @upcoming_events %>
		</div>
	</div>

<% else %>
	<% if @user == current_user %>
		<h4>Attended Events:</h4>
		<p class="text-muted"><em>
			You aren't attending any events. <%= link_to "View Events", events_path %>.
		</em></p>
	<% end %>
<% end %>

<% if @past_events.any? %>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Past Events:</h4>
		</div>
		<div class="panel-body">
			<%= render "events/event_list", collection: @past_events %>
		</div>
	</div>

<% end %>