<div class="col-md-6 col-md-offset-3">

	<h1><%= @event.title %>
		<br/>
		<small><%= @event.formatted_date %></small>
	</h1>

	<% if !@event.private? %>
		<%= render "shared/join_event_form" %>
		<br>
	<% else %>
		<p class="text-muted" align="center"><em>This event is private. Only invited users my join.</em></p>
		<br>
	<% end %>

	<% if !(@event.location.nil? || @event.location.empty?) %>
		<p><strong>Location:</strong> <%= @event.location %></p>
	<% end %>

	<% if !(@event.description.nil? || @event.description.empty?) %>
		<p><%= @event.description %></p>
	<% end %>

	<p><strong>Hosted by:</strong> <%= link_to @creator.name, @creator %></p>

	<% if @attendees.any? %>
		<p><strong>Who's Attending:</strong></p>
		<ol id="attendees">
			<% @attendees.each do |guest| %>
				<li><%= link_to guest.name, guest %></li>
			<% end %>
		</ol>
	<% end %>

</div>